#uk{
    height: 100vh;
    width:100vw;
    background-image:url(forestfire.jpeg);
    /* url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Sky-3.jpg/240px-Sky-3.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    /* 200px 300px; */
    /* auto; */
    /* cover; */
    /* contain; complete img*/
    background-attachment:fixed;
     /* scroll; */
     /* background-color: blueviolet; */
}
/* p{
    text-align: center;
} */