.content-center {
    width: 100%;
    height: auto;
    margin: 75px auto;
    max-width: 960px;
}

.content-center, .section-content ,.item{
    display: inline-block;
    text-align: center;
    position: relative;
}

.responsive-image, picture.responsive-image img {
    display: block;
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
 
body{
    background-image: url("spacexbackground.jpg");
}
 